ul.info {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

ul.info li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}

.blockstyle {
    display: block;
}

header{
    background-color: #65a5fa;
    width:200px;
    height: 100%;
    float:left;
}

main{
    float:left;
    margin-left: 20px;
    width:auto;
}

header h1{
    color:white;
    text-align: center;
    margin-top: 60px;
}

